.tab-scroll {
  height: 50vh;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
}

@media (max-height: 600px) {
  .tab-scroll {
    max-height: 40vh;
  }
}

@media (min-height: 900px) {
  .tab-scroll {
    max-height: 60vh;
  }
}
